.rooms {
	padding: 50px;
}

/*.rooms .chat-rooms-header {
	border: 1px solid grey;
}

.rooms .add-room-btn {
	border: 1px solid grey;
}

.rooms .chat-rooms-title {
	border: 1px solid grey;
	width: 
}*/