
<div class="modal-header">
	<h3 class="modal-title">Add Chat Room</h3>
</div>
<div class="modal-body">
			<h4>Chat Room Name:</h4>
			<input ng-model="newRoom"/>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

<!-- <div ng-controller="AddRoomCtrl">
	<script type="text/ng-template" id="addRoom.html">
		<div class="modal-header">
  		<h3 class="modal-title">Add Chat Room</h3>
  	</div>
    <div class="modal-body">
					<h4>Chat Room Name:</h4>
					<input ng-model="newRoom"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
</div> -->